In [1]:
# Read and clean data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import os

In [6]:
data_dir = '../raw_data'
cwd = os.path.abspath(os.path.curdir)
abspath = os.path.join(cwd , data_dir)

In [7]:
fileList = []
for (dirpath , dirnames , filenames) in os.walk(data_dir):
    fileList.extend(filenames)
    break

In [8]:
fileList

['yellow_tripdata_2016-05.csv']

In [9]:
abspath

'C:\\Users\\MI\\PythonScripts\\Predict_traffic\\../raw_data'

In [8]:
path_to_file = os.path.join(abspath , fileList[0])
df = pd.read_csv(path_to_file)

In [9]:
df.shape

(11836853, 19)

In [10]:
df_drop = df.dropna()
df_drop.shape

(11836853, 19)

In [11]:
df_drop.columns

Index([u'VendorID', u'tpep_pickup_datetime', u'tpep_dropoff_datetime',
       u'passenger_count', u'trip_distance', u'pickup_longitude',
       u'pickup_latitude', u'RatecodeID', u'store_and_fwd_flag',
       u'dropoff_longitude', u'dropoff_latitude', u'payment_type',
       u'fare_amount', u'extra', u'mta_tax', u'tip_amount', u'tolls_amount',
       u'improvement_surcharge', u'total_amount'],
      dtype='object')

In [12]:
df_with_pass =  df_drop.loc[df_drop.passenger_count > 0 , :]

In [13]:
df_drop.shape

(11836853, 19)

In [16]:
df_with_pass.head(3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2016-05-01 00:00:00,2016-05-01 00:17:31,1,3.60,-73.985901,40.768040,1,N,-73.983986,40.730099,1,15.0,0.5,0.5,1.50,0.0,0.3,17.80
1,2,2016-05-01 00:00:00,2016-05-01 00:07:31,1,1.68,-73.991577,40.744751,1,N,-73.975700,40.765469,1,7.5,0.5,0.5,0.88,0.0,0.3,9.68
2,2,2016-05-01 00:00:00,2016-05-01 00:07:01,6,1.09,-73.993073,40.741573,1,N,-73.980995,40.744633,1,6.5,0.5,0.5,1.56,0.0,0.3,9.36

In [18]:
df_p1 = df_with_pass.loc[df_with_pass.passenger_count == 6 , :]

In [19]:
df_p1.shape

(378880, 19)